// LAYOUT

.wrapper {
	margin: 0 auto;
	width: 968px;
}

//MENU

.menu-head {
	height: 100px;
	position: relative;
}

.menu {
	position: absolute;
	bottom: 0;
	right: 0;
	


	a{
		color: $white;
		display: inline-block;
		list-style: none;
		text-decoration: none;
		padding: 0 35px 5px 0;
	}
}

// CONTENT

.content {
	position: relative;

	.pop-up{
		background-color: $white;
		padding: 15px;
		position: absolute;
		right: 60px;
		top: 135px;
		width: 324px;

		p {
			font-size: 14px;
		}
	}
}

.article {
	float: left;
	margin: 15px 0;
	width: 316px;	
}

.center {
	margin: 15px 10px 0;
}