// GENERAL

body{
	color: $general-font-color;
	font: 0.875em $first-font;
	line-height: 1.7;

}

h2 {
	font-size: 1.25em;
}

h3 {
	padding: 0.875em 0;
}

a{
	text-decoration: none;
}

p{
	font-size: 0.9375em;
}