// LAYOUT

.wrapper {
	margin: 0 auto;
	width: 57.29%;
	min-width: 1110px;
}

.back-header {
	background-color: $light-gray;
}

.border-page {
	border-top: 10px solid $brown;	
}

@import 'modules/modules';