//FOOTER

footer {
	background-color: $brown;
	background-image: url("../img/footer-repeat.png");
	background-repeat: repeat;
	color: #fff;
}

.footer-content {

	display: flex;

	div {
		margin: 2.5em 1.25em;
		width: 20em;
	}

	p {
		font-size: 0.8125em;
	}
}

.social-media {

	img {
		margin: 0 0.625em 0 0;
	}
}