//MENU

.menu-head {
	padding: 2.5em 0;
}

.nav {
	background-color: #f6f5f5;
	border-radius: 2.1875em;
	float: right;
	
	li{
		border-left: 0.0625em solid $light-gray;
		list-style: none;
		display: inline-block;
		padding: 1.25em 1.5625em;
		
		&:first-child {
			border-left: none;
		}
		
		a{
			color: $general-font-color;
		}
	}
}