//SLIDER

.slider {
	position: relative;
}

.slider-content {
	padding: 70px;
	width: 40%;
	float: left;

	a{
		color: $dark-gray;
	}
}

.slider-leftarrow {
	position: absolute;
	left:0;
	top: 50%;
}

.slider-rightarrow {
	position: absolute;
	right:0;
	top: 50%;
}

//BUTTONS

.buttons {
	position: absolute;
	bottom: 0;
	left: 50%;
}

.btn-1, .btn-2 {
	background-color: $brown;
	border: none;
	border-radius: 50%;
	height: 8px;
	width: 8px;
}

.btn-2 {
	background-color: $gray;
}